<div class="cards-container">
  <%= link_to restaurant_path(restaurant) do %>
  <div class="cards-img">
    <img src="<%= restaurant.photo1 %>" alt="restaurant photos">
  </div>
  <div class="cards-content">
    <div class="cards-name">
      <h2><%= restaurant.name %></h2>
    </div>
    <div class="cards-rating">
     <% restaurant.average.times do %>
     <i class="fas fa-star"></i>
     <% end %>
     <% (5 - restaurant.average).times do %>
     <i class="far fa-star"></i>
     <% end %>
   </div>
 </div>
 <div class="cards-middle">
  <h3><%= restaurant.address %></h3>
  <h4><%= restaurant.category %></h4>
</div>
<%end%>
</div>

