<h1>this is show</h1>

<%= @restaurant.name %>
<img src="<%= @restaurant.photo1 %> " alt="restaurant photo">
<%= link_to 'go back', root_path %>

 <% if policy(@restaurant).destroy?  %>
<button id="sweet-alert-demo" class="btn btn-danger">Delete <%= @restaurant.name %></button>
<%= link_to "", restaurant_path(@restaurant), method: :delete, id: "delete-link", class: "hidden" %>
<%else%>
<% end %>
