<%= render 'shared/carousel', restaurant: @restaurant %>
<div class="show-wrapper">
  <div class="show-container">
    <div class="show-titles">
      <div class="show-name">
        <h2><%= @restaurant.name %></h2>
      </div>
      <div class="show-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </div>
    <div class="show-description">
      <p>Por su parte, antes del discurso de Fernández, Máximo Kirchner también se refirió al acuerdo entre el Mercosur y la Unión Europea: "Cuando escuchamos ahora que se festeja esta especie de protoacuerdo entre la Unión Europea y el Mercosur hay que tener en cuenta que la UE es una suerte de mega Estado, una comunión de países, una corporación política y económica, al revés de lo que es el Mercosur, que apenas es un endeble ensable económico generado mayoritariamente por Brasil y Argentina".
      </p>
    </div>
  </div>
  <div class="show-img">
    <!-- how to put statics maps images with mapbox -->
    <img src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-l(<%= @restaurant.longitude %>,<%= @restaurant.latitude %>)/<%= @restaurant.longitude %>,<%= @restaurant.latitude %>,12,0.00,0.00/200x200@2x?access_token=<%= ENV['MAPBOX_API_KEY'] %>' alt='Restaurant location'  >
  </div>
</div>
<div class="show-links">
  <h4><%= link_to 'Go Back', root_path, class: "go-back"%></h4>`
  <%if policy(@restaurant).edit?  %>
  <h2><%= link_to 'Edit Restaurant', edit_restaurant_path, class: "button-edit" %></h2>
  <%else %>
  <%end %>
  <% if policy(@restaurant).destroy?  %>
  <h3><button id="sweet-alert-demo" class="button-delete">Delete <%= @restaurant.name %></button></h3>
  <%= link_to "", restaurant_path(@restaurant), method: :delete, id: "delete-link", class: "hidden" %>
  <%else%>
  <% end %>

</div>





