<%= render 'shared/carousel', restaurant: @restaurant %>
<div class="show-wrapper">
  <div class="show-container">
    <div class="show-titles">
      <div class="show-name">
        <h2><%= @restaurant.name %></h2>
      </div>
      <div class="show-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </div>
    <div class="show-description">
      <h3><%= @restaurant.address %></h3>
      <h4><%= @restaurant.category %></h4>
      <p>description in the show</p>
    </div>
  </div>
  <div class="show-img">
    <!-- how to put statics maps images with mapbox -->
    <img src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-l(<%= @restaurant.longitude %>,<%= @restaurant.latitude %>)/<%= @restaurant.longitude %>,<%= @restaurant.latitude %>,12,0.00,0.00/200x200@2x?access_token=<%= ENV['MAPBOX_API_KEY'] %>' alt='Restaurant location'  >
  </div>
</div>
<div class="count-review">
  <h1>Reviews</h1>
  <p><button id="myReviewButton" onClick="myReviewFunction();" ><i class="fas fa-edit"></i> Write a review</button></p>
  <% if user_signed_in? %>
  <div style= "display:none;" id="reviewForm">
    <%= render 'reviews/form', restaurant: @restaurant, review: @review %>
    <% else %>
    <p>You must be log in to create a review</p>
    <%end  %>
  </div>
  <script>
    function myReviewFunction() {
     var x = document.getElementById("reviewForm");
     x.style.display = "block";
   }
 </script>
 <h2>Reviews(<%=@restaurant.reviews.size%>)</h2>
</div>
<div id="reviews">
  <% if @restaurant.reviews.blank? %>
  Be the first to leave a review for <%= @restaurant.name %>
  <% else %>
  <% @restaurant.reviews.reverse_each do |review| %>
  <%= render 'reviews/show', review: review %>
  <% end %>
  <% end %>
</div>
<div class="show-links">
  <h4><%= link_to 'Go Back', root_path, class: "go-back"%></h4>`

  <% if policy(@restaurant).destroy?  %>
  <h3><button id="sweet-alert-demo" class="button-delete">Delete <%= @restaurant.name %></button></h3>
  <%= link_to "", restaurant_path(@restaurant), method: :delete, id: "delete-link", class: "hidden" %>
  <%else%>
  <% end %>

</div>





